# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build artifacts
node_modules
dist
dist-ssr
*.local
.env

# Editor configuration files
.vscode/*
!.vscode/extensions.json
.idea

# System and project configuration files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
